# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.env
.env.*

# Database
*.db
*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
